.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(55, 130, 134);
}

.wrapper {
  gap: 20px;
  padding: 18px 0px;
  margin: 0 20px;
  width: 90%;
  max-width: 1440px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user_name {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.logout_btn {
  border: none;
  outline: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 14px;
  color: rgb(55, 130, 134);
  border: 1px solid rgb(55, 130, 134);
  font-weight: 600;
  transition: 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.logout_btn:hover {
  background-color: rgb(55, 130, 134);
  border: 1px solid white;
  color: white;
}
